:root {
  --orange: #ff9933;
  --white: #ffffff;
  --lightwhite: #f7f2f2;
  --black: #000;
  --cyan: #66fcf1;
  --blue: #348ceb;
  --darkblue: #346eeb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*********************************************************************************************************************
                      NAVIGATION                                                               
**********************************************************************************************************************/
.navbar, .navbar-brand, .nav-link{
  color: var(--black) !important;
  background-color: var(--white) !important;
}
.navbar-brand{
  font-size: 2rem;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.active-link{
  display: inline-block;
  border-bottom: 1px solid var(--black);
}



/*********************************************************************************************************************
                   SIGNUP FROM                                                           
**********************************************************************************************************************/

.signup .container {
  box-shadow: 5px 5px 10px #888;
  padding: 1.5em;
  text-align: center;
}

.signup-form i {
  margin-right: 0.5em;
}

.signup-form input {
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      margin: 0.5em;
}

.signup-form input[type="text"],input[type="email"],input[type="tel"],input[type="password"]  {
     width: 100%;
}

.signup-form input[type="submit"] {
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 100px;
  background-color: var(--blue);
  color: var(--white);
  text-transform: capitalize;
}

.signup-form input[type="submit"]:hover {
  background-color: var(--darkblue);
}


/*********************************************************************************************************************
                   LOGIN FROM                                                           
**********************************************************************************************************************/
.login .container {
  box-shadow: 5px 5px 10px #888;
  padding: 1.5em;
  text-align: center;
}

.login-form i {
  margin-right: 0.5em;
}

.login-form input {
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      margin: 0.5em;
}

.login-form input[type="text"],input[type="email"],input[type="tel"],input[type="password"]  {
     width: 100%;
}

.login-form input[type="submit"] {
  margin-bottom: 1em;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 100px;
  background-color: var(--blue);
  color: var(--white);
  text-transform: capitalize;
}

.login-form input[type="submit"]:hover {
  background-color: var(--darkblue);
}

/*********************************************************************************************************************
                   LOGIN FROM                                                           
**********************************************************************************************************************/
.home-page{
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.home-div {
  text-align: center;
}

/*********************************************************************************************************************
                   LOGIN FROM                                                           
**********************************************************************************************************************/

.profile img{
  width: 160px;
  height: 200px;
}

/*********************************************************************************************************************
                   LOGIN FROM                                                           
**********************************************************************************************************************/
.error-flex-container {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*********************************************************************************************************************
                                        RESPONSIVE QUERY                                 
**********************************************************************************************************************/
 /* 320 --> 480 --> 768 --> 992 */
@media only screen and (min-width: 320px) and (max-width: 479px){ 
}

@media only screen and (min-width: 480px) and (max-width: 767px){  

}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .signup .container {
     width: 50%;
  }   
  .login .container {
    width: 50%;
 }   
} 
@media only screen and (min-width: 992px){ 
  .signup .container {
    width: 50%;
 }
 .login .container {
  width: 40%;
}
 }



